* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;    
}
header{
    position: relative;
    left:0;
    top:0;
    width: 1005;
    height: 80px;
    
}
#heading
{
  position: relative; 
  bottom: 1rem;
  font-size: 1.6rem;    
  color: #000000; 
  top: 0;
  background-image:url(image/sticky.png);
  border-radius: 2px;
  border-style: groove;
  border-width: 6px;
  border-color: aqua;      
  z-index: 7;
  margin-left: 0px;
  margin-right: 0px; 
}


/*for clock*/
.clock {
  width: 7rem;
  height: 7rem;
  border: 7px solid #FF5B95;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);
  border-radius: 50%;
  float:left;
  position: relative;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
 
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #282828;
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: #1df52f;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #282828;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 30%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

.hand.second-hand {
  background: #ee791a;
  width: 45%;
  height: 2px;
}
/* splash screen*/

.intro{
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1.5s;
}
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#ffffff;
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 8;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/*...............*/
body {
  font-family: arial, sans-serif;
  font-size: 100%;
  margin: 3em;
  background: #ffffff;
  color: #000000;
}


#no-notes-found {
  padding: 100px 0px;
  text-align: center;
  color: #00008B;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto; 
  
}

#ts {
  color: #000080;
 font-family: cursive;
  
}

.inputText {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #FF69B4;
  border-width: 3px;
  border-style:ridge;    
  width: 25%;
  margin: 15px;
  outline: none;
}
.inputTextarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #FF69B4;
  border-width: 3px;
  border-style:ridge;    
  position: absolute;
  width: 15%;
  margin: 15px;
  outline:none;
}

.hidden {
  display: none;
}

.btn {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #00FFFF;
  border-style:ridge;    
  position: relative;
  background-color: #FF69B4;
  margin: 10px;
  color: #000000;
  font-weight: bold;    
  cursor: pointer;
  font-family: monospace;    
  margin-left: 750px;
  margin-top: 0px;      
  margin-bottom:0px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:active {
  border: 2px solid #333;
  box-shadow: inset 0 0 5px #000000;
}

h2,
p {
  font-size: 100%;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

ul {
  overflow: hidden;
  padding: 3em 1em;
}

ul li a {
  text-decoration: none;
  color:#000;
  background: aquamarine;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

ul li {
  margin: 1em;
  float: left;
  position: relative;
}

ul li h2 {
  font-family: monospace;    
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
}

ul li p {
  font-family: "Reenie Beanie", cursive;
  font-size: 1.5rem;
  padding-bottom: 1px;
}

.delete {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;    
  background-color: red;
  box-shadow: inset 0 0 2px;
  font-weight: bolder;
  text-align: center;    
  cursor:pointer;  
}

ul li a {
  transform: rotate(-9deg);
  -moz-transform: rotate(-7deg);
  cursor: default;
  background: #7AFCFF;    
}

ul li:nth-child(2n) a {
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #FEFF9C;
}

ul li:nth-child(4n) a {
  transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #FF5B95;
}


ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #FC3339;
}

ul li:nth-child(5n) a {
  transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
  background: #FFF740;    
}

ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.30);
  -moz-transform: scale(1.30);
  position: relative;
  z-index: 5;
}

ol {
  text-align: center;
}

ol li {
  display: inline;
  padding-right: 1em;
}

ol li a {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 1em;
  }
  #note-title-input,
  #todays_date,
  #note-content-input {
    display: block;
    width: 90%;
    margin-left: 0px;
  }

  #heading {
    margin-left: 0px;
  }

  .btn {
    margin-left: 0px;
  }
}